
@import './assets/iconfont.scss';

* {
    box-sizing: border-box;
}
body, html {
    padding: 0;
    margin: 0;
}
.iconfont {
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}
